00_input_data/
attempt1_isoseq_based/all_samples/
attempt1_isoseq_based/wild_type/
attempt1_isoseq_based/mutant/ 
01_reference_tables/
02_make_gencode_database/
attempt1_isoseq_based/18_diff_expression/
attempt1_isoseq_based/logs
01_isoquant/
01_mandalorion/
01_isoseq/
02_sqanti/
03_filter_sqanti/
04_CPAT/
04_transcriptome_summary/
05_orf_calling/
06_refine_orf_database/
07_make_cds_gtf/
08_rename_cds_to_exon/
18_SUPPA/
17_track_visualization/
18_LRP_summary/